:root {
  --primary-font: "Noto Serif", serif;
  --special-font: "Georgia", sans-serif;
}
html,
body {
  font-size: 16px;
}
h1,
h2,
h3,
h4,
h5,
h6,
body,
div,
p,
ul,
ol,
li,
tr,
td,
a,
img,
svg {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#header-background-image,
.z {
  background-color: #c4e2ff;
}
/* Flex properties */
.a {
  display: flex;
}
.ab {
  flex-direction: row;
}
.ac {
  flex-direction: column;
}
.ad {
  justify-content: center;
}
.ae {
  align-items: flex-start;
}
.af {
  display: block;
}
.ag {
  box-sizing: border-box;
}
.ah {
  flex: 1 0 auto;
}
.ai {
  align-items: center;
}
.aj {
  display: inline;
}
.ak {
  justify-content: flex-start;
}
/* background-top */

.b {
  border-top: 1px solid rgb(196, 196, 196);
}
.ba {
  z-index: 10;
}
.bb {
  position: fixed;
}
.bc {
  top: 0;
}
.bd {
  left: 0;
}
.be {
  right: 0;
}
.bf {
  border-bottom: 1px solid black;
}
.bg {
  height: 4.6875rem;
}
.bh {
  width: 100%;
}
.bi {
  max-width: 83rem;
}
.bj {
  min-width: 0;
}
.bk {
  margin-inline: 4rem;
}
.bl {
  height: inherit;
}
.bm {
  padding-top: 23px;
}
.bn {
  padding-bottom: 23px;
}
.bo {
  width: 160px;
}
.bp {
  font-family: var(--primary-font), "serif";
}
.bq {
  height: 30px;
}
.br {
  font-weight: 400;
}
.bs {
  text-decoration: none;
}
.bt {
  color: black;
}
.bu {
  color: inherit;
}
.bv {
  opacity: 0.8;
}
.bw {
  font-size: 17px;
}
.bx {
  line-height: 20px;
}
.by {
  margin-right: 25px;
}
/* button */
.bz {
  background-color: black;
}
.ca {
  color: white;
}
.cb {
  border: 1px solid black;
}
.cc {
  border-radius: 20px;
}
.cd {
  padding-block: 10px;
}
.ce {
  padding-inline: 10px;
}
.cf {
  cursor: pointer;
}
.cg {
  font-size: 17px;
}
/* background-image-header */
.ci {
  background-image: url("../images/bkg_image/01.png");
}
.cj {
  background-repeat: no-repeat;
}
.ck {
  background-position: bottom 10px right 5px;
}
/* background-image-end */
.cl {
  padding-top: 25px;
}
.cm {
  padding-bottom: 20px;
}
.cn {
  width: 550px;
}
.co {
  z-index: 2;
}
.cp {
  font-weight: 200;
}
.cq {
  font-size: 70px;
}
.cr {
  letter-spacing: -4px;
}
.cs {
  line-height: 80px;
}
.ct{
  font-size: 50px;
}
.cu{
  line-height: 52px;
}
.cv{
  margin-bottom: 20px;
}
.cw{
  opacity: 0.79;
}
.cx{
  font-size: 17px;
}
.cy{
  font-weight: 400;
}
.cz{
  width: 80%;
}
.da{
  line-height: 20px;
}
.db{
  padding: 7px 20px 8px;
}
.de{
  font-size: 16px;
}
.df{
  background-color: white;
}