h1,
h2,
h3,
h4,
h5,
h6,
body,
div,
p,
ul,
ol,
li,
tr,
td,
a,
img,
svg {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Flex properties */
.a {
  display: flex;
}
.b {
  flex-direction: row;
}
.c {
  flex-direction: column;
}
.d {
  justify-content: center;
}
.e {
  align-items: flex-start;
}
